<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body style="background-color: rgb(92, 241, 110);">
    <div style="font-size: large">
        <h1>Welcome to the Login Page</h1>
    </div>
</body>
</body>
</html>